<section class="section" id="projects">
  <div class="container">
    <h2 class="section-title">Research</h2>

    <ul class="research__list">
      <li class="research__item" *ngFor="let project of projects">
        <h3 class="research__item-title">
          {{ project.title }}
          <a *ngIf="project.github" [href]="project.github" target="_blank" rel="noopener" class="research__item-link">[code]</a>
        </h3>
        <p class="research__item-desc">{{ project.description }}</p>
      </li>
    </ul>
  </div>
</section>
